{% if MCHAT_PAGE %}
	{% INCLUDECSS '@kasimi_mchatgoogletranslate/common.css' %}
	<script>
		var mChatGoogleTranslateInit = function() {
			new google.translate.SectionalElement({
				sectionalNodeClassName: 'goog-trans-section',
				controlNodeClassName: 'goog-trans-control'
			}, 'google_sectional_element');
		};
		var mChatGoogleTranslateUpdate = function() {
			var scriptUrl = '//translate.google.com/translate_a/element.js?cb=mChatGoogleTranslateInit&ug=section&hl={{ user.lang_name|escape('js') }}';
			jQuery.getScript(scriptUrl);
		};
		jQuery(mChat).on({
			mchat_add_message_before: function(e, data) {
				if (data.playSound) {
					mChatGoogleTranslateUpdate();
				}
			},
			mchat_edit_message_before: function() {
				mChatGoogleTranslateUpdate();
			}
		});
		mChatGoogleTranslateUpdate();
	</script>
{% endif %}
